/************ Contact Css ************/
.contact-section{
  position: relative;
  box-shadow: -2px 10px 10px -4px #151515;
  padding-bottom: 6rem;

}
.contact {
   margin: 10rem 8rem 0rem 8rem;
  }

  .contact-container{
    padding: 60px 80px;
    background: var(--light_background);
  }
  
  .contact h2 {
      font-size: 45px;
      font-weight: 700;
    margin-bottom: 30px;
  }
  .contact input, .contact textarea {
    width: auto;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    color: #fff;
    margin: 0 0 8px 0;
    padding: 18px 26px;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.8px;
    transition: 0.3s ease-in-out;
  }
  .contact input:focus, .contact textarea:focus {
    background: rgba(255, 255, 255, 1);
    color: #121212;
  }
  .contact input::placeholder, .contact textarea::placeholder {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
  }
  .contact input:focus::placeholder, .contact  textarea:focus::placeholder {
    color: #121212;
    opacity: 0.8;
  }
  .contact  button {
    font-weight: 700;
    color: #000;
    background-color: #fff;
    padding: 14px 48px;
    font-size: 18px;
    margin-top: 25px;
    border-radius: 0;
    position: relative;
    transition: 0.3s ease-in-out;
  }
  .contact button span {
    z-index: 1;
    position: relative;
  }
  .contact  button:hover {
    color: #fff;
  }
  .contact button::before {
    content: "";
    background: #121212;
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    transition: 0.3s ease-in-out;
  }
  .contact button:hover::before {
    width: 100%;
  }

  .contact-social-icons {
    border-radius: 2rem;
    text-decoration: none;
    padding: 1rem;
    color: #462523;
    background: var(--gold_gradient_text);
    font-size: 20px;
  }
  
  .contact-social-icons:hover{
    transform: scaleX(1);
    transition: 0.3s ease-in-out;
    background-image: var(--gold_gradient_text);
    color:transparent;
    -webkit-background-clip:text;
  }
  
  .contact-links-container{
    margin-top: 4rem;
  }

  .contact-img{
    width: 400px;
  }

  .on-top2{
    position: absolute;
    z-index: -1;
    right:0%;
   top: 40%;
   width:20%;
  }