nav{
  position: fixed;
  width: 90%;
  top: 0;
  z-index:9999;
  transition: 0.32 ease-in-out;
}

.scrolled{
 background-color: var(--background);
 text-align:center;
  border-bottom: 1px solid transparent;
  border-image: linear-gradient(to right, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C);
  border-image-slice: 1;
}

.logo-img {
  height: 150px;
}

.resume-download-btn{
  background-color: white;
  border: 2px solid black;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
.resume-download-btn:hover{
  background-color: rgba(199, 72, 148, 0.7);
}

.text{
  color: black;
  font-weight: 600;
}


.nav-heading{
  position: relative;
  color: white;
  padding-bottom: 5px;
}

.nav-heading:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-image: var(--gold_gradient_text);
  color: transparent;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.nav-heading:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.active-link{
  background-image: var(--gold_gradient_border);
  color:transparent;
  -webkit-background-clip:text; 
  font-size: 20px;
}

.menu-icons{
  background-image: var(--gold_gradient_text);
  color:transparent;
  -webkit-background-clip:text;
  font-size: 1.7rem;
}

.social-icons {
  border-radius: 2rem;
  text-decoration: none;
  padding: 1rem;
  color: white;
  background: var(--purple_blue_gradient_dull);
}

.social-icons:hover{
  transform: scaleX(1);
  transition: 0.3s ease-in-out;
  background-image: var(--gold_gradient_text);
  color:transparent;
  -webkit-background-clip:text;
}

.nav-padding{
  padding: 0 6rem;
}

.small-font{
  font-weight: 600;
  font-size: 12px;
}


/* Media query */
@media only screen and (max-width: 400px){
  .social-icons:hover{
    transform: scaleX(1);
    transition: none;
    color: white;
  background: var(--purple_blue_gradient_dull);
  }
  
  .hamburger{
    display: block;
  }

  .logo-img {
    height: 90px;
  }

  .nav-padding{
    padding: 0 2rem 0 1rem;
  }

  
}