/************ Projects Css ************/
.project {
  margin-top: 10rem;
  padding: 80px 0;
  position: relative;
}
.project h2 {
  font-size: 45px;
  font-weight: 700;
  text-align: center;
}
.project p {
  color: #b8b8b8;
  font-size: 16px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 14px auto 30px auto;
  text-align: center;
  width: 56%;
}
.project .nav-pills {
  width: 72%;
  margin: 0 auto;
  background-color: rgb(255 255 255 / 10%);
}
.project .nav-pills .nav-item {
  width: 33.33333%;
}
.project .nav-pills .nav-link {
  background-color: transparent;
  padding: 17px 0;
  color: #fff;
  width: 100%;
  font-size: 17px;
  letter-spacing: 0.8px;
  font-weight: 500;
  position: relative;
  transition: 0.3s ease-in-out;
  text-align: center;
  z-index: 0;
}
.project .nav-pills .nav-link::before {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  background: var(--gold_gradient_text);
  top: 0;
  left: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}

.project .nav-pills .nav-link.active::before {
  width: 100% !important;
}
.project .nav-pills .nav-link.active {
  border: 1px solid rgba(255, 255, 255, 1);
  color: #462523;
  font-weight: bolder;
}
.tab-first {
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.tab-second {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.tab-third {
  border: 1px solid rgba(255, 255, 255, 0.5);
}

#slideInUp {
  margin: 4rem;
  position: relative;
}

.tab-content {
  margin-top: 9rem;
  
}
.proj-imgbx {
  position: relative;
}
.proj-imgbx img {
  width: 350px;
  object-fit: cover;
  border-radius: 10px;
}

.proj-imgbx div {
  margin-top: 1rem;
}

.proj-imgbx div button {
  width: 7rem;
  padding: 5px;
  border-radius: 5px;
  border: none;
}
.proj-imgbx div button a {
  color: black;
}

.proj-imgbx div .left-space {
  margin-left: 10px;
}
.proj-imgbx::before {
  content: "";
  background: linear-gradient(90.21deg, #aa367c -5.91%, #4a2fbd 111.58%);
  opacity: 0.85;
  position: absolute;
  width: 100%;
  height: 0;
  transition: 0.4s ease-in-out;
}
.proj-imgbx:hover::before {
  height: 100%;
}
.proj-txtx {
  position: absolute;
  text-align: center;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s ease-in-out;
  opacity: 0;
  width: 100%;
}
.proj-imgbx:hover .proj-txtx {
  top: 50%;
  opacity: 1;
}
.proj-txtx h4 {
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1.1em;
  margin-bottom: 8px;
}
.proj-txtx span {
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.8px;
}
.onTop {
  top: 65%;
  position: absolute;
  bottom: 0;
  width: 40%;
  left: 0;
  z-index: -2;
}

/* Media query */
@media only screen and (max-width: 400px) {
  .project {
    padding: 80px 2rem;
  }
  .project p {
    text-align: justify;
    width: 100%;
  }

  .project .nav-pills {
    width: 100%;
  }

  .project .nav-pills .nav-link {
    padding: 17px 0;
    color: #fff;
    width: 100%;
    font-size: 9px;
    letter-spacing: 0.8px;
    font-weight: 500;
    position: relative;
    transition: 0.3s ease-in-out;
    text-align: center;
    z-index: 0;
  }

  .proj-imgbx img {
    width: 260px;
  }

  .proj-imgbx span{
    font-size: 12px;
    color: #b8b8b8;
  }

  .onTop {
    width: 100%;
  }

  .proj-imgbx::before {
    opacity: 0;
  }

  
}
