@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gold_gradient_border: linear-gradient(
    to right,
    #bf953f,
    #fcf6ba,
    #b38728,
    #fbf5b7,
    #aa771c
  );
  --gold_gradient_text: linear-gradient(
    to right,
    #462523 0,
    #cb9b51 12%,
    #f6e27a 45%,
    #f6f2c0 50%,
    #f6e27a 55%,
    #cb9b51 80%,
    #462523 100%
  );
  --background: #0d0d0d;
  --light_background: #161616;
  --purple_blue_gradient_dull: linear-gradient(
    90.21deg,
    rgba(170, 54, 124, 0.5) -5.91%,
    rgba(74, 47, 189, 0.5) 111.58%
  );
  --purple_blue_gradient_bright: linear-gradient(
    90.21deg,
    #aa367c -5.91%,
    #4a2fbd 111.58%
  );
}

* {
  font-family: "Tinos", serif;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

body {
  color: white;
  background-color: var(--background);
  overflow-x: hidden;
}

.gold-text {
  background-image: var(--gold_gradient_text);
  color: transparent;
  -webkit-background-clip: text;
}

.gold-border {
  border: solid 2px transparent;
  background-image: linear-gradient(#0d0d0d, #0d0d0d),
    var(--gold_gradient_border);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.scrolled {
  background-color: var(--background);
  text-align: center;
  border-bottom: 1px solid transparent;
  border-image: linear-gradient(
    to right,
    #bf953f,
    #fcf6ba,
    #b38728,
    #fbf5b7,
    #aa771c
  );
  border-image-slice: 1;
}

.nav-heading {
  position: relative;
  color: white;
  padding-bottom: 5px;
  font-size: 20px;
}

.nav-heading:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-image: var(--gold_gradient_text);
  color: transparent;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.nav-heading:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.active-link {
  background-image: var(--gold_gradient_border);
  color: transparent;
  -webkit-background-clip: text;
}

.background-image-right {
  top: 28%;
  right: -4%;
  position: absolute;
  bottom: 0;
  width: 40%;
  z-index: -4;
}

.background-image-top-right {
  top: -20%;
  right: -4%;
  position: absolute;
  width: 40%;
  z-index: -4;
}

.background-image-left {
  top: 28%;
  position: absolute;
  bottom: 0;
  width: 40%;
  z-index: -4;
}

/* Media query */
@media only screen and (max-width: 480px) {
  .background-image-right {
    right: 0%;
    width: 100%;
  }

  .background-image-top-right {
    width: 100%;
    right: 0%;
  }

  .background-image-left {
    width: 100%;
  }
}
